body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
  text-align: center;
}

.container {
  margin-top: 80px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 12px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  background: #ff7e5f;
  color: white;
  cursor: pointer;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  margin-top: 30px;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 120px;
}